# Ignore log, theme-specific cache and temporary files
*.log
*.pot
*.mo
*.po
*.potx
*.db
*.sqlite
*.sqlite3

# Ignore any environment-specific files
.env

# Ignore miscellaneous files
Thumbs.db
.DS_Store

# htaccess
/.htaccess

# Ignore package-lock.json
package-lock.json

# Ignore node_modules
node_modules/
